In [161]:
import re
import pandas as pd

In [86]:
def is_vowel(x:str):
    """ Returns match object if inputted string x is a vowel """
    return re.search(r'^[aeiouAEIOU]$',x)

In [111]:
def is_valid_username(x:str):
    """ Checks whether inputted string is a valid username:
    -Starts with lowercase letter
    -Only lowercase letters, numbers or _
    -No longer than 32 characters"""
    if re.search(r'^[a-z][_a-z0-9]{,31}$',x):
        return True
    else:
        return False

In [157]:
is_valid_username('c_2odeup')

True

In [153]:
subjects = ['(210) 867 5309',
            '+1 210.867.5309', 
            '867-5309',
            '210-867-5309']
regexp = r'\d{0,3}\D?\d{3}\D\d{4}'
for subject in subjects:
    if re.search(regexp, subject):
        print(subject, "matches")
    else:
        print(subject, "does not match")

(210) 867 5309 matches
+1 210.867.5309 matches
867-5309 matches
210-867-5309 matches

# 4 convert to year - month - day

In [165]:
df = pd.DataFrame({'original_dates':['02/04/19','02/05/19','02/06/19','02/07/19','02/08/19','02/09/19','02/10/19']})
regexp=r'(\d{2})/(\d{2})/(\d{2})'

# re.sub(regexp,r'20\3-\1-\2', date)

In [167]:
df['converted'] = df.original_dates.str.replace(pat = regexp,repl = r'20\3-\1-\2', regex=True)

In [168]:
df

  original_dates   converted
0       02/04/19  2019-02-04
1       02/05/19  2019-02-05
2       02/06/19  2019-02-06
3       02/07/19  2019-02-07
4       02/08/19  2019-02-08
5       02/09/19  2019-02-09
6       02/10/19  2019-02-10

# 5 - logs

In [338]:
df = pd.DataFrame({'original_logs':['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
        'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
        'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58']})


df = pd.concat([df, df.original_logs.str.extract(r'(?P<request_method>^[A-Z]{3,})\s*(?P<request_path>/\S*\b)\s*["["](?P<timestamp>[^]]*).*(?P<http_version>[H]\S*).["{"](?P<status_code>\d{3,})["}"]\s*(?P<size>\s\d{1,}\s)\s*["""](?P<user_agent>.*)["""]\s(?P<ip_address>\S*$)')],axis=1)

In [339]:
df

,original_logs,request_method,request_path,timestamp,http_version,status_code,size,user_agent,ip_address
0,GET /api/v1/sales?page=86 [16/Apr/2019:193452+...,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST /users_accounts/file-upload [16/Apr/2019:...,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET /api/v1/items?page=3 [16/Apr/2019:193453+0...,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

# BONUS

In [350]:
words = pd.read_table('../../../../usr/share/dict/words')
words = words.rename(columns = {'A':'word'})

In [352]:
words

              word
0                a
1               aa
2              aal
3            aalii
4              aam
...            ...
235880      zythem
235881      Zythia
235882      zythum
235883     Zyzomys
235884  Zyzzogeton

[235885 rows x 1 columns]